<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683024343520-n2q59bm55nes70atb4bvhu719qci94d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683024343520-n2q59bm55nes70atb4bvhu719qci94d5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683024343520-4u8fgl4eiq2n3knc7m3r5ctujc8c1pe9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu8FUu9PufTYzGW2OZ9w_gW13HcTZ2EHI</string>
	<key>GCM_SENDER_ID</key>
	<string>683024343520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keyra.app</string>
	<key>PROJECT_ID</key>
	<string>keyra-93667</string>
	<key>STORAGE_BUCKET</key>
	<string>keyra-93667.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683024343520:ios:a1468ec731f3a8fa6acb85</string>
</dict>
</plist>